@font-face {
    font-family: neuehaas;
    src: url(fonts/NeueHaasGroteskRegular.ttf);
}

body {
    background-color:black;
    margin: 0px;
    height: 100%;
    text-align: center;
}

.title {
    position:fixed;
    top: 13px;
    left: 45.95%;
    font-size: 1.25vw;
    color:white;
    text-align: center;
    font-family: neuehaas;
    letter-spacing: 0.1vh;
}

.footer, #restart {

    font-family: neuehaas;
    color: white;
    font-size: 1.25vw;
}



#screenNum {
    
    width:100%;
    position:fixed;
    top:13px;
    text-align:center;
}

#location {
    width:100%;
    position:fixed;
    bottom:13px;
    text-align:center;
}

#restart {
    width:100%;
    position:fixed;
    bottom:13px;
    text-align:center;
    display:none;
}

.wrapper {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 37.8vh 1fr 37.8vh; 
}

img {
    width: 100%;
    
}

img, #type, #city:hover{
    cursor:pointer;
}

.images {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap:20px;
    text-align: center;
    
}

.hover{
    width:300px;
    position:absolute;
    left:0px;
    top:0px;
    outline: 1px solid white;
}

#hover12, #hover3, #hover45, #hover67, #hover8, #hover910 {
    display:none;
    left:0px;
    top:0px;
}

.middle{
    font-family: neuehaas;
    color: white;
    font-size: 1.25vw;
    align-self: center;
    justify-content: center;
    height:100%;
   
}

#clicked{
     width:5.75vw;
}

#selected, #type, #city {
    display:none;
}

#trespass, #fly, #die, #compete, #wander, #work, #graze, #drive, #waste, #park, #play, #swim, #sail, #home, #ride {
    display:none;
}

#big{
     max-height: 100%;  
    max-width: 100%; 
    width:26vw;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    display:none;
    
}

#bigText{
    color:white;
    font-family: neuehaas;
    font-size: 1.25vw;
    width:25%;
    position:fixed;
    left:20px;
    bottom:20px;
    display:none;
    text-align: left;
    
}

a{
    color:white;
    background-color: black;
    text-decoration: none;
}


#homeIMG{
   
    max-height: 100%;  
    max-width: 100%; 
    width:13vw;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

#titlebig {
    position:absolute;
    color:white;
    font-family: neuehaas;
    font-size: 9.5vw;
    width:100%;
    height: 100%;
    line-height: 100vh;
    text-align: center;
}

.homeWrap{
    color:white;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:33vh 33vh 33vh;
    
}

.quote{
    width:100%;
    height: 100%;
    top:16vh;
    line-height: 1.5vw;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    text-align: center;
    font-family: neuehaas;
    font-size: 1.25vw;
    text-decoration: none;
}

#bigTextVerb1 {
    position:absolute;
    color:white;
    font-family: neuehaas;
    font-size: 5vw;
    width:100%;
    height: 100%;
    line-height: 100vh;
    text-align: center;
    display: none;  
}

#endtop{
    position:absolute;
    color:white;
    font-family: neuehaas;
    font-size: 1.25vw;
    width: 40%;
    left: 30%;
    top:13%;
    display:none;
}

#endbottom{
    position:absolute;
    color:white;
    font-family: neuehaas;
    font-size: 1.25vw;
    width: 30%;
    left: 35%;
    bottom:13%;
    display:none;
}

.infobits{
    color:white;
    font-family: neuehaas;
    font-size: 0.75vw;
    position:fixed;
    top:13px;
    
}

.downloadbits{
    color:white;
    font-family: neuehaas;
    font-size: 0.75vw;
    position:fixed;
    bottom:13px;
    display:none;
    
}

#aboutProj{
    right: 17px;
    text-align: left;
}

#aboutMe{
    right: 8.2vw;
    text-align: right;
}

#contribute{
    left: 6.5vw;
    text-align: right;
}

#book{
    left:17px;
}

#exhibition{
    left:6.5vw;
}

#poster{
    left:17px;
}

#digital{
    right:17px;
}

.modal, .modal2, .modal3 {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        opacity: 0;
        visibility: hidden;
    }
    .modal-content, .modal-content2, .modal-content3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 0rem 1.5rem;
        width: 55rem;
        font-size: 20px;
        color:black;
        text-align: left;
    }
    .close-button, .close-button2, .close-button3{
        float: right;
        width: 1.5rem;
        line-height: 3.5rem;
        text-align: center;
        cursor: pointer;
    }

    .show-modal {
        opacity: 1;
        visibility: visible;
}

 #aboutMe:hover, #aboutProj:hover, #contribute:hover, #book:hover {
        cursor:help;
        }

#soon{
    color:white;
    padding-top: 13px;
    font-family: neuehaas;
    
    
}

#email{
    color:black;
    background-color:white;
    border-bottom: solid 1px black;
}












